@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;

}

.navbar {
    padding: 10px 10%;
}

.container{
    padding: 10px 10%;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

/* nav ul{
    position: absolute;
    
} */

.logo {
    width: 105px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #01fdf0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 102%;
}



:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



.button {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.button:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.button:hover::before {
  filter: blur(1.5em);
  opacity: 1;
}

.button:hover::after {
  opacity: 1;
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .button {
    font-size: 1em;
  }
}


/* .button {
    background-color: #01fdf0;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    animation: glow 0.5s infinite alternate;
    
}

.button:hover {
    background-color: #00d8cc; 
    transform: scale(1.05);

    
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #1613e4, 0 0 20px #1613e4, 0 0 30px #1613e4;
    }
    to {
        box-shadow: 0 0 30px #1613e4, 0 0 40px #1613e4, 0 0 50px #1613e4;
    }
} */

.console-container {
    font-family:Khula;
    font-size:60px;
    margin-top: -50px;
    height:170px;
    width:900px;
    display:block;
    color:white;
    font-weight: 600;
    
  }
  .console-underscore {
    display:inline-block;
    /* position:relative; */
    top:-0.14em;
    left:10px;
  }

.header-text{
    margin-top: 13%;
    font-size: 30px;
    
}

.header-text h1{
    font-size: 60px;
    margin-top: -50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.header-text h1 span{
    color: #01fdf0;
}

/* ------------------about----------------------  */

.about-col-1 img{
    width: 90%;
    border-radius: 15px;
    
}

#about{
    padding: 80px 0;
    color:#ababab ;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
  
}

.about-col-2{
    flex-basis: 65%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #01fdf0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #38ccc5;
    font-size: 16px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ----------------------------------Skills-------------------------------------- */

#skills{
    padding: 30px 0;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
}

.skills-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: backgroung 0.5s, transform 0.5s;
}

.skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.skills-list div:hover{
    background: #01fdf0;
    color: #080808;
    transform: translateY(-10px);
}

.section{
    padding-top: 25px;
    
}

.section h2{
    font-size: 40px;
    font-weight: 500;
    color: white;

}

/* -------------------------portfolio---------------------------- */

#portfolio{
    padding: 50px 0;

}

.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}



.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 100%;
    transition: transform 0.5s;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work:hover img{
    transform: scale(1.1);
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #01fdf0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #01fdf0;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #01fdf0;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #01fdf0;
    color: #000;
    font-weight: 500;
}


/* -----------------------contact-------------------- */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    font-size: 23px;
}

.contact-left p i{
    color: #01fdf0;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #01fdf0;
    transform: translateY(-5px);
}

.btn2{
    display: inline-block;
    background: #01fdf0;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #01fdf0;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
    

}


/* ------------------------------css for small screens-------------------- */

























